global _about
_about:
    [CONFIG]

    @Author: Wienton Dev
    @Date: 02.09.25
    @Description: A file sharing service that allows anonymous and secure transfer of certain data using AES-256-GMC and Cachy encryption protocols, 
    \\ as well as BLAKE3 and SSL certificate verification. 

    @About-Wienton: I am a systems developer in C and NASM (Netwide Assembler).

    @Stack-Use-Here: C, NASM, JS, PYTHON, SHELL, MAKE, DOCKER, MONGODB

    @LICENSE: check file(LICENSE).

    // ALL ABSOLUTELY PRIVATE :3

    mov rdi, 60
    syscall